{% extends "base.html" %}
<!-- load wagtailcore_tags by adding this: -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{page.title}}{% endblock %}

<!-- replace everything below with: -->
{% block content %}
<!-- Blog -->
<section class="relative py-5 md:py-10">
    <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
      <img src="{% static 'images/gradient_light.jpg' %}" alt="gradient" class="h-full w-full" />
    </picture>
    <div class="container">
      <!-- Featured Post -->
      <article class="mb-[1.875rem] md:mb-16">
        <div class="flex flex-col overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg md:flex-row">
          <figure class="group overflow-hidden md:w-1/2">
            <a href="{% pageurl page.featured %}">
                {% if page.featured.image %}
                {% image page.featured.image fill-600x300 alt=page.featured.title class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105" %}
                {% else %}
                <img src="{% static 'images/blog/post_1.jpg' %}" alt="no-photo"
                    class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"/>
                {% endif %}
            </a>
          </figure>
          <!-- Body -->
          <div
            class="rounded-b-[1.25rem] border border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700 md:w-1/2 md:rounded-none md:rounded-r-[1.25rem]"
          >
            <!-- Meta -->
            <div class="mb-3 flex flex-wrap items-center space-x-1 text-xs">
              <a href="#" class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                >{{ page.featured.owner }}</a
              >
              <span class="dark:text-jacarta-400">in</span>
              <span class="inline-flex flex-wrap items-center space-x-1 text-accent">
                {% with tags=page.featured.tags.all %}
                    {% if tags %}
                        {% for tag in tags %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>,
                        {% endfor %}
                    {% endif %}
                {% endwith %}
              </span>
            </div>

            <h2
              class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent sm:text-3xl"
            >
              <a href="{% pageurl page.featured %}"> {{ page.featured.title }} </a>
            </h2>
            <p class="mb-8 dark:text-jacarta-200">
                {{ page.featured.intro }}
            </p>

            <!-- Date / Time -->
            <div class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400">
              <span><time datetime="2022-02-05">{{ page.featured.date }}</time></span>
              <span>•</span>
              <span>3 min read</span>
            </div>
          </div>
        </div>
      </article>

      {% for category in page.categories %}
      {% if category.num_posts > 0 %}
      <div class="mb-[1.875rem] md:mb-16">
      <h2 class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white sm:text-3xl">
        {{ category.title }} 
        <span class="text-sm"><a href="{% pageurl category %}">lebih banyak ...</a></span>
      </h2>
      <div class="grid grid-cols-1 gap-[1.875rem] sm:grid-cols-2 md:grid-cols-3">
        <!-- Posts -->
        {% for blog in category.latest_post %}
        <article>
          <div class="overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg">
            <figure class="group overflow-hidden">
              <a href="{% pageurl blog %}">
                {% if blog.image %}
                {% image blog.image fill-370x250 alt=blog.title class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105" %}
                {% else %}
                <img src="{% static 'images/blog/post_2.jpg' %}" alt="no-photo"
                    class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"/>
                {% endif %}
              </a>
            </figure>
            <div class="rounded-b-[1.25rem] border border-t-0 border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700">
              <!-- Meta -->
              <div class="mb-3 flex flex-wrap items-center space-x-1 text-xs">
                <a href="#" class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200">{{blog.owner}}</a>
                <span class="dark:text-jacarta-400">in</span>
                <span class="inline-flex flex-wrap items-center space-x-1 text-accent">
                    {% with tags=blog.tags.all %}
                    {% if tags %}
                        {% for tag in tags %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>,
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </span>
              </div>
              <h2 class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent">
                <a href="{% pageurl blog %}"> {{ blog.title }} </a>
              </h2>
              <p class="mb-8 dark:text-jacarta-200"> {{ blog.intro }} </p>
              <!-- Date / Time -->
              <div class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400">
                <span><time datetime="2022-02-05"> {{ blog.date }} </time></span>
                <span>•</span>
                <span>3 min read</span>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

      <!-- Load More -->
      <!-- <div class="mt-10 text-center">
        <a
          href="blog.html"
          class="inline-block rounded-full bg-accent py-3 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
          >Load More</a
        >
      </div>
    </div> -->
  </section>
  <!-- end blog -->
{% endblock %}