{% load static wagtailcore_tags navigation_tags %}
{% get_site_root as site_root %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Dark Mode JS -->
    <script src="{% static 'js/darkMode.bundle.js' %}"></script>

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
  </head>

  <body
    class="overflow-x-hidden font-body text-jacarta-500 dark:bg-jacarta-900"
    itemscope
    itemtype="http://schema.org/WebPage"
  >

  {% include "includes/header.html" %}

    <main class="pt-[5.5rem] lg:pt-24">
        {% block content %}{% endblock %}  
    </main>

    {% include "includes/footer.html" %}

    <!-- JS Scripts -->
    <script src="{% static '/js/app.bundle.js' %}"></script>
  </body>
</html>
